body{
    background-color: #e0ebeb;
}
.header-div{
    background-image: url('../images/background-image.jpg');
    height: 900px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    background-attachment: fixed;
}
.main-logo{
    max-width: 200px;
    width: 100%;
}
/*navigation div*/
.navigation-div{
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navigation{
    max-width: 650px;
    width: 100%;
}
.nav-ul{
    display: flex;
    justify-content: space-between;
}
.color{
    font-family: 'Nunito regular';
    font-size: 16px;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 700;
}
.burger-bar{
    display: none;
}
/*middle div*/
.middle-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 225px auto 270px;
}
.enjoy-text{
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: 'Nunito regular';
    text-align: center;
    font-weight: 800;
}
h1{
    margin-top: 25px;
    margin-bottom: 45px;
    font-weight: 700;
    font-size: 80px;
    letter-spacing: 3px;
    color: white;
    font-family: 'Old Standard TT';
    text-align: center;
}
/*two small divs*/
.two-divs{
    display: flex;
    max-width: 400px;
    width: 100%;
    justify-content: space-between;
}
.two-small-divs{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 180px;
    width: 100%;
    height: 60px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 3px 5px 12px black;
}
.two-small-divs:hover{
    cursor: pointer;
    background-color: #c5a880;
    transition: all 1s ease;
}
.smalldivs-text{
    font-size: 15px;
    color: white;
    font-family: 'Nunito regular';
    font-weight: 500;
}
/*bottom div*/
.bottom-div{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    width: 100%;
    box-shadow: 5px 7px 7px grey;
}
.divs-five{
    max-width: 260px;
    width: 100%;
    height: 130px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.divs-five:hover{
    background-color: #c5a880;
    cursor: pointer;
    transition: all 1s ease;
}
.chek-h4{
    color: white;
    font-size: 14px;
    font-family: 'Nunito regular';
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.fa-calendar-days{
    color: rgba(255, 255, 255, 0.4) !important;
    font-size: 30px;
}
/*first section*/
.first-section{
   padding-top: 1100px;
}
.first-section-div{
    max-width: 1300px;
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.two-offer-rooms{
    max-width: 600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.first-offer-room{
    max-width: 280px;
    width: 100%;
    height: 100%;
    transition: all 1s ease;
}
.small-offer-room{
    background-color: white;
    width: 100%;
    height: 290px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 3px 12px grey;
    transition: all 1s ease;
}
.small-offer-room:hover{
    cursor: pointer;
    width: 95%;
    background-color:#c5a880 ;
}
.fa-bed-front{
    color: #c5a880;
    font-size: 22px;
}
/* icon*/

.h3-room{
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.8);
    font-family: 'Old Standard TT';

}
.p-room{
    text-align: center;
    font-size: 16px;
    color: #999999;
    font-family: 'Nunito regular';
    font-weight: 500;
    margin-bottom: 20px;
}
.small-img1{
    margin-top: 60px;
    background-image: url(../images/img2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 230px;
    box-shadow: 1px 3px 12px grey;
}
/*second room small div*/
.second-offer-room{
    max-width: 280px;
    width: 100%;
    height: 100%;
}
.small-img2{
    margin-bottom: 30px;
    background-image: url(../images/img3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 230px;
    box-shadow: 1px 3px 12px grey;
}
.room2{
    margin-top: 60px;
}
/*second div, room img*/
.second-rooms-div{
    max-width: 550px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.big-image-div{
    margin-top: 20px;
    width: 90%;
}

.room{
    box-shadow: 1px 3px 12px grey;
    width:  100%;
    height: 100%;
}
.book-room-now{
    margin-top: 90px;
    max-width: 250px;
    width: 100%;
    height: 60px;
    background-color: #c5a880;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
    box-shadow: 1px 3px 12px grey;
}
.book-room-now:hover{
    cursor: pointer;
    max-width: 260px;
    margin-left: -5px;
}
.book-p{
    font-size: 13px;
    font-family: 'Nunito regular';
    font-weight: 600;
    color: white;
    letter-spacing: 1.5px;
}
/*second section*/
.second-section-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}
.top-div{
    padding: 220px 0 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services{
    font-size: 15px;
    font-family: 'Nunito regular';
    color: #c5a880;
    line-height: 1.5;
    margin-bottom: 25px;
}
.h2-services{
    max-width: 550px;
    width: 100%;
    color: rgba(0, 0, 0, 0.8);
    font-family: "Old Standard TT";
    font-size: 64px;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
}
.six-hovers-div{
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    width: 100%;
    padding-bottom: 50px;
}
.small-hover-div1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    max-width: 200px;
    width: 100%;
    height: 170px;
    border-radius: 50% 50% 50% 0;
    background-color: white;
    box-shadow: 1px 3px 12px grey;

}
.small-hover-div1:hover{
    cursor: pointer;
    background-color: #c5a880;
    max-width: 220px;
    width: 100%;
    height: 180px;
    margin-left: -10px;
    transition: all 1s ease;
    box-shadow: 1px 3px 12px black;
}
.h4-texts{
    font-size: 20px;
    font-weight: 550;
    margin-bottom: 2px;
    font-family: 'Nunito regular';
}
/*third section*/
.fixed-photo-div{
    background-image: url('../images/fixed-photo.jpg');
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    background-attachment: fixed;
}
/*fourth section*/
.fourth-section{
    margin-top: 400px;
}